<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"	
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

	<context:component-scan
		base-package="net.nadisa.anan.dao" />
		
	<context:property-placeholder
		location="classpath:db.properties" />
	
	<!-- Database connection settings -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
		p:url="${db.url}" p:driverClassName="${db.driver}"
		p:username="${db.username}" p:password="${db.password}" />

	<!-- Entity Manager Factory -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
    	p:dataSource-ref="dataSource" p:packagesToScan="net.nadisa.anan.model">
    	<property name="jpaProperties">
    		<props>
    			<prop key="hibernate.dialect" >org.hibernate.dialect.MySQL5Dialect</prop>
    		</props>
    	</property>
    	<property name="jpaVendorAdapter">
    		<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" p:showSql="true"
    			p:generateDdl="true"/>
    	</property>
    </bean>
    
    <!-- Transaction -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager"
    	p:entityManagerFactory-ref="entityManagerFactory" />
    	
	<tx:annotation-driven/>
</beans>
